@using CloudVOffice.Core.Domain.Common;
@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "PanditRegistration";
}
@addTagHelper *, Syncfusion.EJ2
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>SanatanMandir</h5>
                    <h6 class="sub-heading">Welcome to SanatanMandir Admin</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    @*<span class="last-login">Last Login: 2 hours ago</span> *@
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <b>Pandit View</b>
                        </div>
                        <div class="col-md-2 ">
                            <a href="/SanatanMandir/PanditRegistration/PanditRegistrationCreate" class="btn btn-primary btn-sm float-right"><i class="icon icon-add"></i>Add Pandit</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ejs-grid id="GridOverview" dataSource="ViewBag.PanditRegistrations"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              height="600" rowHeight="38"
                              enableHover="false" enableHeaderFocus="true"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})">

                        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>

                        <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
                        <e-grid-columns>

                            <e-grid-column headerText="Action" template="#Actions" width="210"></e-grid-column>
                            <e-grid-column field="IsApprove" headerText="IsApprove Name" template="#statusTemplate" textAlign="Left" width="150"></e-grid-column>
                            <e-grid-column field="Reject" headerText="Reject" template="#rejectTemplate" textAlign="Left" width="150"></e-grid-column>
                            <e-grid-column field="PanditName" headerText="Pandit Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="PrimaryPhone" headerText="PrimaryPhone No" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="CountryId" headerText="Country Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="StateId" headerText="State Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="CityId" headerText="City Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Experiences" headerText="Experiences" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="ExpertiseOnPuja" headerText="ExpertiseOnPuja" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Religion" headerText="Religion Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="MotherTongue" headerText="MotherTongue Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Caste" headerText="Caste Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Gothram" headerText="Gothram Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="AadharCard" headerText="AadharCard Number" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Qualification" headerText="Qualification " textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="TempleId" headerText="Temple Name" textAlign="Left" width="120"></e-grid-column>

                            <e-grid-column field="Address" headerText="Address Name" textAlign="Left" width="120"></e-grid-column>

                            <e-grid-column field="AlternatePhone" headerText="AlternatePhone No" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="MailId" headerText="MailId" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="DateOfBirth" headerText="DateOfBirth" textAlign="Left" width="120" format="dd-MM-yyyy"></e-grid-column>
                            <e-grid-column field="Password" headerText="Password" textAlign="Left" width="120"></e-grid-column>
                            
                            <e-grid-column field="Image" template="#ImageTemplate" headerText="Image"
                                           textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Message" headerText="Message" textAlign="Left" width="500"></e-grid-column>

                        </e-grid-columns>
                    </ejs-grid>

                </div>
            </div>
        </div>
    </div>

</div>

@{

    if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            const message = "@TempData["msg"]";
            if (message == "@((int)MessageEnum.Success)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Pandit",
                    text: "Successfully created.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.Updated)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Pandit",
                    text: "Successfully updated.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.Deleted)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Pandit",
                    text: "Successfully Deleted.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.UnExpectedError)") {
                sweetAlert({
                    html: true,
                    icon: "danger",
                    title: "Pandit",
                    text: "There is somthing going wrong.",
                    type: "danger"
                });
            }
            else if (message == "@((int)MessageEnum.Error)") {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Pandit",
                    text: "There is somthing going wrong.",
                    type: "error"
                });
            }
            else {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Pandit",
                    text: message,
                    type: "error"
                });
            }
        </script>
    }
}

<script type="text/javascript">
    function Delete(Id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            confirmButtonColor: "#DD6B55",
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {
                window.location.href = "/SanatanMandir/PanditRegistration/DeletePanditRegistration?PanditRegistrationId=" + Id;
            }
        })
    }
</script>


<script type="text/javascript">
    function Approve(Id) {
        swal({
            title: "Are you sure?",
            text: "You approve this pandit!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            confirmButtonColor: "#DD6B55",
            dangerMode: false,
        }).then(function (isConfirm) {
            if (isConfirm) {
                window.location.href = "/SanatanMandir/PanditRegistration/ApprovePanditRegistration?PanditRegistrationId=" + Id;
            }
        })
    }
</script>

<script type="text/javascript">
    function Reject(Id) {
        swal({
            title: "Are you sure?",
            text: "You reject this pandit!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            confirmButtonColor: "#DD6B55",
            dangerMode: false,
        }).then(function (isConfirm) {
            if (isConfirm) {
                window.location.href = "/SanatanMandir/PanditRegistration/RejectPanditRegistration?PanditRegistrationId=" + Id;
            }
        })
    }
</script>


<script id="Actions" type="text/x-template">
    <div class="link">

        <button onClick="Approve(${PanditRegistrationId})" style="background: transparent;border: none; color:green" title="Approve"><i class="icon-checkmark" style="font-size:22px"></i> </button>

         <button onClick="Reject(${PanditRegistrationId})" style="background: transparent;border: none; color:red" title="Reject" ><i class="icon-cross" style="font-size:22px"></i> </button> &nbsp;&nbsp;

          <a href="/SanatanMandir/PanditRegistration/PanditRegistrationMessageCreate?PanditRegistrationId=${PanditRegistrationId}"><i class="icon-envelop" style="font-size:22px; color:darkorange" title="Message"></i></a> &nbsp;&nbsp;

        <button onClick="Delete(${PanditRegistrationId})" style="background: transparent;border: none;"><i class="icon-bin" style="font-size:22px"></i></button> &nbsp;&nbsp;

         <a href="/SanatanMandir/PanditRegistration/PanditRegistrationCreate?PanditRegistrationId=${PanditRegistrationId}"><i class="icon-pencil3" style="font-size:22px"></i></a> &nbsp;&nbsp;&nbsp;
    </div>
</script>

<script id="statusTemplate" type="text/x-template">
    ${statusDetail(data)}
</script>


<script id="rejectTemplate" type="text/x-template">
    ${rejectDetail(data)}
</script>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }

</script>

<script id="ImageTemplate" type="text/x-template">${ imageTemplate(data)}</script>

<script>
    function dataBound(args) {
        this.autoFitColumns();
    }

    function imageTemplate(i) {

        if (i.Image != null) {
            return ' <img src="/uploads/PanditRegistrationImage/' + i.Image + '" style="height:100px; width:100px ;padding: 5px 0px 5px 0;" />';
        }
        else {
            return 'No Image';
        }
    }
    function statusDetail(e) {

        if (e.IsApprove == true) {
            return '<span class="badge badge-pill badge-success" style="color:white; background-color: green;">Approved</span>';
        } else {
            return '<span class="badge badge-pill badge-dark" style="color:white; background-color:blue;" > Not Approve </span>';
        }

    }


    function rejectDetail(e) {

        if (e.Reject == true) {
            return '<span class="badge badge-pill badge-success" style="color:white; background-color:red;"> Rejected </span>';
         } 
        else {
            return '';
        }

    }


</script>

