@model CloudVOffice.Data.DTO.Pandit.PanditRegistrationDTO;

@using System.Collections;
@using Newtonsoft.Json;


@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "PanditRegistration";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>SanatanMandir Dashboard</h5>
                    <h6 class="sub-heading">Welcome to SanatanMandir Admin</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <form asp-route="SanatanMandir/PanditRegistration/PanditRegistrationCreate" method="post" autocomplete="off" enctype="multipart/form-data">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-10">
                                <b>PanditRegistration Create</b>
                            </div>
                            <div class="col-md-2 ">
                                <a href="/SanatanMandir/PanditRegistration/PanditRegistrationView" class="btn btn-primary btn-sm float-right"><i class="icon-list2"></i> List</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <input asp-for="@Model.PanditRegistrationId" type="hidden" />
                                <label for="PanditName" class="form-label">Pandit Name</label>
                                <input asp-for="@Model.PanditName" type="text" class="form-control" autofocus="autofocus" placeholder="Pandit Name" />
                                <span asp-validation-for="PanditName"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="TempleId" class="form-label">Temple Name</label>
                                <ejs-dropdownlist id="TempleId" allowFiltering="true" ejs-for="@Model.TempleId" filtering="onTempleNamefiltering" dataSource="@(new SelectList((IEnumerable) ViewBag.Temples, "TempleId", "TempleName").Items)" placeholder="Select TempleName" popupHeight="220px">
                                    <e-dropdownlist-fields text="TempleName" value="TempleId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                                <span asp-validation-for="TempleId"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Address" class="form-label">Address </label>
                                <input asp-for="@Model.Address" type="text" class="form-control" autofocus="autofocus" placeholder="Address " />
                                <span asp-validation-for="Address"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="PrimaryPhone" class="form-label">PrimaryPhone No </label>
                                <input asp-for="@Model.PrimaryPhone" type="text" class="form-control" autofocus="autofocus" placeholder="PrimaryPhone No " />
                                <span asp-validation-for="PrimaryPhone"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="AlternatePhone" class="form-label">AlternatePhone No </label>
                                <input asp-for="@Model.AlternatePhone" type="text" class="form-control" autofocus="autofocus" placeholder="AlternatePhone No " />
                                <span asp-validation-for="AlternatePhone"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="MailId" class="form-label">MailId </label>
                                <input asp-for="@Model.MailId" type="text" class="form-control" autofocus="autofocus" placeholder="MailId " />
                                <span asp-validation-for="MailId"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="DateOfBirth" class="form-label">DateOfBirth </label>
                                <input asp-for="@Model.DateOfBirth" type="date" class="form-control" autofocus="autofocus" placeholder="DateOfBirth " />
                                <span asp-validation-for="DateOfBirth"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Password" class="form-label">Password </label>
                                <input asp-for="@Model.Password" type="text" class="form-control" autofocus="autofocus" placeholder="Password " />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="Image" class="form-label">Image</label>
                                <input asp-for="@Model.ImageUp" type="file" class="form-control" autofocus="autofocus" placeholder="Image" />
                                <span asp-validation-for="Image"></span>
                                @{
                                    if (Model.Image != null)
                                    {
                                        <img src="/uploads/setup/@Model.Image" style="height:100px; width:100px" />
                                        <input type="hidden" asp-for="@Model.Image">
                                    }
                                }
                            </div>
                            <div class="form-group col-md-3">
                                <label for="IsApprove" class="form-label">Is Approve </label>
                                <br>
                                <input asp-for="@Model.IsApprove" type="checkbox" />
                                <span asp-validation-for="IsApprove"></span>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function onTempleNamefiltering(e) {
        var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('TempleName', 'startswith', e.text, true) : query;
        e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Temples)), query);
    }
</script>
